<div class="tab">
    <div class="row-fluid">
        <label class="control-label">Color</label>
            <input class="span" id="color-picker-control" data-jscolor="{format: 'hex'}" data-bind="value: color, event: {input: updateColor}">
            <button class="btn span6" data-bind="click: applyChanges">Apply</button>
    </div> 
</div>