/* global css */
.row-fluid, .row-fluid-2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.btn-icon {
	width: max(1.2vw, 20px) !important;
}

.settings-label-input {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

/* tab css */
#bleledcontroller_webcam_container{
	width:100%;
	overflow: hidden;
	position:relative;
	outline:0;
	background-color:#000;
	margin-bottom: 10px;
}
#bleledcontroller_webcam_container .webcam_rotated{
	position:relative;
	width:100%;
	padding-bottom:100%;
	pointer-events:none;
}
#bleledcontroller_webcam_container .webcam_rotated .webcam_fixed_ratio{
	position:absolute;
	transform:rotate(-90deg);
	top:0;
	bottom:0;
	pointer-events:none;
}
#bleledcontroller_webcam_container .webcam_rotated .webcam_fixed_ratio .webcam_fixed_ratio_inner{
	width:100%;
	height:100%;
	pointer-events:none;
}
#bleledcontroller_webcam_container .webcam_unrotated .webcam_fixed_ratio{
	width:100%;
	pointer-events:none;
	padding-bottom:100%;
	position:relative;
}
#bleledcontroller_webcam_container .webcam_unrotated .webcam_fixed_ratio.ratio43{
	padding-bottom:75%;
}
#bleledcontroller_webcam_container .webcam_unrotated .webcam_fixed_ratio.ratio169{
	padding-bottom:56.25%;
}
#bleledcontroller_webcam_container .webcam_unrotated .webcam_fixed_ratio.ratio1610{
	padding-bottom:62.5%;
}
#bleledcontroller_webcam_container .webcam_unrotated .webcam_fixed_ratio .webcam_fixed_ratio_inner{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	pointer-events:none;
}
#bleledcontroller_webcam_container img{
	width:100%;
	height:100%;
	object-fit:contain;
}

/* settings css */
.bleled-input-address {
	width: 40vmin;
}

.bleled-settings-btn {
	margin-left: 1vh;
	margin-right: 1vh;
}

/* ANIMATION for Connection Load START */
.bleled-status {
	margin-bottom: 3.5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-left-color: #5cb85c;
	animation: bleled-loader-spin 1.2s infinite linear;
	position: relative;
	display: inline-block;
	vertical-align: top;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}
.bleled-status-load-complete {
	-webkit-animation: none;
	animation: none;
	border-color: #5cb85c;
	transition: border 500ms ease-out;
}

.bleled-status-load-fail {
	-webkit-animation: none;
	animation: none;
	border-color: #b85c5c;
	transition: border 500ms ease-out;
}

.bleled-status-check .bleled-status-fail {
	display: none;
}

.bleled-status-check.bleled-status-draw:after {
	animation-duration: 800ms;
	animation-timing-function: ease;
	animation-name: bleled-status-check;
	transform: scaleX(-1) rotate(135deg);
}
.bleled-status-check:after {
	opacity: 1;
	height: 1em;
	width: 0.5em;
	transform-origin: left top;
	border-right: 3px solid #5cb85c;
	border-top: 3px solid #5cb85c;
	content: '';
	left: 0.4em;
	top: 1em;
	position: absolute;
}
.bleled-status-fail.bleled-status-draw:after {
	animation-duration: 800ms;
	animation-timing-function: ease;
	animation-name: bleled-status-fail;
}
.bleled-status-fail:after {
	opacity: 1;
	width: 0.5em;
	top: 0.2em;
	left: 0.1em;
	content: '\2715';
	color: #b85c5c;
	font-size: 2em;
	text-align: center;
	position: absolute;
}

@keyframes bleled-loader-spin {
	0% {
		transform: rotate(0deg);
   }
	100% {
		transform: rotate(360deg);
   }
}
@keyframes bleled-status-check {
	0% {
		height: 0;
		width: 0;
		opacity: 1;
   }
	20% {
		height: 0;
		width: 0.5em;
		opacity: 1;
   }
	40% {
		height: 0.5em;
		width: 0.5em;
		opacity: 1;
   }
	100% {
		height: 1em;
		width: 0.5em;
		opacity: 1;
   }
}
@keyframes bleled-status-fail {
	0% {
		opacity: 0;
   }
	20% {
		opacity: 0.2;
   }
	40% {
		opacity: 0.6;
   }
	100% {
		opacity: 1;
   }
}
/* ANIMATION for Connection Load END */
