/* tab css */
.row-fluid, .row-fluid-2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#bleledcontroller_webcam_container{
	width:100%;
	overflow: hidden;
	position:relative;
	outline:0;
	background-color:#000;
	margin-bottom: 10px;
}
#bleledcontroller_webcam_container .webcam_rotated{
	position:relative;
	width:100%;
	padding-bottom:100%;
	pointer-events:none;
}
#bleledcontroller_webcam_container .webcam_rotated .webcam_fixed_ratio{
	position:absolute;
	transform:rotate(-90deg);
	top:0;
	bottom:0;
	pointer-events:none;
}
#bleledcontroller_webcam_container .webcam_rotated .webcam_fixed_ratio .webcam_fixed_ratio_inner{
	width:100%;
	height:100%;
	pointer-events:none;
}
#bleledcontroller_webcam_container .webcam_unrotated .webcam_fixed_ratio{
	width:100%;
	pointer-events:none;
	padding-bottom:100%;
	position:relative;
}
#bleledcontroller_webcam_container .webcam_unrotated .webcam_fixed_ratio.ratio43{
	padding-bottom:75%;
}
#bleledcontroller_webcam_container .webcam_unrotated .webcam_fixed_ratio.ratio169{
	padding-bottom:56.25%;
}
#bleledcontroller_webcam_container .webcam_unrotated .webcam_fixed_ratio.ratio1610{
	padding-bottom:62.5%;
}
#bleledcontroller_webcam_container .webcam_unrotated .webcam_fixed_ratio .webcam_fixed_ratio_inner{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	pointer-events:none;
}
#bleledcontroller_webcam_container img{
	width:100%;
	height:100%;
	object-fit:contain;
}